body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#mainContainer {
    text-align: center;
    width: 100%;
    margin: 10em auto 17.7em auto;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainContainer h1, p {
    width: 100%;
    padding: 0;
    margin: 0;
}

#mainContainer a {
    width: 20em;
    height: 4em;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    margin: 0 auto 0 auto;
    gap: 2em;
}

footer {
    background-color: #333; /* Cambia el color de fondo según tus preferencias */
    color: #fff; /* Cambia el color del texto según tus preferencias */
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}