#mainContainer {
    margin: 1em auto;
    height: 20em;
}

#ver-mas-button {
    border-radius: 0.5em;
}

.selectores-pagina {
    font-size: x-large;
    color: #0c6a01;
    text-decoration: none;
    padding: 0.5em;
}
.selectores-pagina:hover {
    color: black;
}

#sin-resultados {
    height: 25em;
}


@media print {
    .selectores-pagina::after {
      content: counter(page); /* Muestra el número de página */
      font-size: 12pt; /* Tamaño de fuente */
      color: #333; /* Color del número de página */
    }
}

footer {
    margin-top: 1em
  }