footer {
    margin-top: 1em;
}

.selectores-pagina {
    font-size: x-large;
    color: #0c6a01;
    text-decoration: none;
    padding: 0.5em;
}

.selectores-pagina:hover {
    color: black;
}

.publicaciones-destacadas-title {
    background-color: #e5ffe5;
    padding: 1em;
    border-radius: 1em;
}

footer {
    margin-top: 24.2em;
}