#mainContainer #botonPublicar {
    margin: 1em auto 1em;
    text-align: center;
    width: 10em;
    height: 3em;
}

#colSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
}

#agregarEtiqueta {
    width: 10em;
}