#mainContainer #botonPublicar {
    margin: 1em auto 1em;
    text-align: center;
    width: 10em;
    height: 3em;
}

#colSubmit {
    display: flex;
    gap: 1em;
}

#agregarEtiqueta {
    width: 10em;
}

#colSubmit button a {
    text-decoration: none;
    width: 5em;
    height: 6em;
    color: #0c6a01;
}

#colSubmit button a:hover {
    color:white
}